
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Error/Page404.cshtml";
}

<h2>Sayfa bulunamadı...</h2>
<div>
    Hata Kodu : @Response.StatusCode
</div>
<div>
    Hata Sebebi : @ViewBag.Kaynak
</div>

