
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/assets/css/page404.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>

    <div class="number">404</div>
    <div class="text"><span>Ooops...</span><br>Sanırım Kayboldunuz...</div>
</body>
</html>
